
@mixin border-radius($property) {
  -webkit-border-radius: $property;
  -ms-border-radius: $property;
  border-radius: $property;
}

$color-bg: red;
$color-logo: white;
$size: 100px;
$circle-a-stroke: 30px;

body {
  font-family: sans-serif;
}

td:first-child {
  border: 1px silver solid
}

#technogenic-container {
  margin: 2px;
  background-color: $color-bg;
  width: $size;
  height: $size;
}

#technogenic-logo {
  $logo-size: $size - $circle-a-stroke * 2;
  border: solid $circle-a-stroke $color-logo;
  width: $logo-size;
  height: $logo-size;
  @include border-radius($size);
}
