
@mixin border-radius($property) {
  -webkit-border-radius: $property;
  -ms-border-radius: $property;
  border-radius: $property;
}

@mixin square($side) {
  width: $side;
  height: $side;
}

@mixin circle($radius) {
  @include border-radius($radius);
  @include square($radius * 2);
  position: relative;
}

$color-bg: red;
$color-logo: white;
$size: 100px;
$circle-a-stroke: 30px;

body {
  font-family: sans-serif;
}

td:first-child {
  border: 1px silver solid
}

#technogenic-logo {
  background-color: $color-bg;
  width: $size;
  height: $size;
}

#circle-a {
  @include circle($size/2);
  background-color: $color-logo;
}

#circle-b {
  $radius-b: 40px;
  @include border-radius($radius-b);
  @include square($radius-b);
  border: 20px black solid;
  position: relative;
  top: 10px;
  left: 10px;
  background-color: blue;
}

#circle-c {
  $radius-c: 20px;
  @include circle($radius-c);
  background-color: gold;
  // top: ($size / 2) - $radius-c;
  // left: ($size / 2) - $radius-c;
}
